.hero {
  background: linear-gradient(135deg, rgb(78, 78, 191), green);
  color: white;
  padding: 100px 0;
}

.feature-icon {
  font-size: 3rem;
}
.cta-section {
  background-color: rgb(72, 72, 106);
}
